<%- include("includes/header") -%>

<div class="form-box">
  <form id="contactForm" method="post" enctype="multipart/form-data">
    <label for="">Name</label>
    <input type="text" name="name" id="" />
    <label for="">Email</label>
    <input type="text" name="email" id="" />
    <label for="">Mobile</label>
    <input type="number" name="mobile" id="" />
    <label for="">Profile</label>
    <input type="file" name="image" id="" />
    <input type="submit" value="save" class="btn" />
  </form>
</div>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>image</th>
      <th>action</th>
    </tr>

    <% if(data.length> 0) { data.forEach(contacts => { %>

    <tr>
      <td><%=contacts.name %></td>
      <td><%=contacts.email %></td>
      <td><%=contacts.mobile %></td>
      <td>
        <!-- demo image link -->
        <img
          src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?size=338&ext=jpg&ga=GA1.1.2113030492.1720137600&semt=sph"
          class="table-pic"
          alt="image"
        />
      </td>
      <td>
        <div class="crud-buttons">
          <a href="/updateContact/<%= contacts._id%>"
            ><button class="edit">edit</button></a
          >
          <button class="delete" onclick="deleteContact('<%= contacts._id%>')">
            Delete
          </button>
        </div>
      </td>
    </tr>

    <% })}else{%>

    <tr>
      <td colspan="5">no data found</td>
    </tr>

    <% }%>
  </table>
</div>

<script>
  const createContactForm = document.getElementById("contactForm");
  createContactForm.addEventListener("submit", async function (e) {
    e.preventDefault();

    const formData = new FormData(this);

    try {
      const response = await fetch("http://localhost:3000/api/create", {
        method: "POST",
        body: formData,
      });

      if (response.ok) {
        window.location.href = "/createContact";
      }

      if (!response.ok) {
        // alert massage
      }
    } catch (error) {
      console.log(error);
    }
  });

  try {
    async function deleteContact(id) {
      let url = `http://localhost:3000/api/contacts/delete/${id}`;
      const response = await fetch(url, {
        method: "delete",
      });

      if (response.ok) {
        window.location.href = "/createContact";
      }

      if (!response.ok) {
        // alert massage
      }
    }
  } catch (error) {
    console.log(error);
  }
</script>

<%- include("includes/footer") -%>
