<%- include("includes/header") -%> <% if(data.length > 0 ) {
data.forEach(contact => { %>

<div class="card">
  <!-- demo image  -->
  <img src="images/<%= contact.image %>" class="index-img" alt="img" />
  <h1><%= contact.name %></h1>

  <p><%= contact.email %></p>
  <h3><%= contact.mobile %></h3>
</div>
<%}) }else {%>

<h1>No data found</h1>

<% } %> <%- include("includes/footer") -%>
